@implements CoffeeShop.Shared.Interfaces.IRefComponent;

<button class="custom-btn" @ref="Reference"
        @onclick="OnClick">
    @Text
</button>

@code {

    [Parameter]
    public string Text { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
    
    public ElementReference Reference { get; private set; }
    
    protected void OnClick()
    {
        OnClickCallback.InvokeAsync();
    }
}