@using CoffeeShop.Services.Types
<div class="menu-order-form">
    <h1>Ordering: @Item.Name</h1>
    <div class="menu-order-info">
        <div class="menu-order-description">
            
        </div>
        <div class="menu-order-image-viewer">
            <ImageViewer ImageUrls="@Item.ImageUrls"/>
        </div>
    </div>
    <div class="menu-order-price">

    </div>
    <div class="menu-order-buttons">

    </div>
</div>

@code {

    [Parameter]
    public MenuItem Item { get; set; } = default!;

}