.notification-popup {
    --notification-width: 300px;
    display: flex;
    flex-direction: column;
    
    position: fixed;
    right: -40px;
    top: 0;
    width: var(--notification-width);
    height: calc(var(--header-menu-height) + var(--brand-height) +  2px);
    transition: margin-right 0.5s ease-in-out;
    z-index: 100;
    
    animation-name: popup-show;
    animation-duration: 0.5s;
}

.notification-popup.hidden {
    margin-right: calc(var(--notification-width) * -1);
}

@keyframes popup-show {
    from { margin-right: calc(var(--notification-width) * -1); }
    to { margin-right: 0; }
}

.notice-text {
    user-select: none;
    color: var(--text-color)
}

.notice-text.notice-title {
    padding-left: 30px;
    font-family: "RobotoMono Nerd Font", serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 17px;
}

.notice-text.notice-content {
    padding-left: 30px;
    width: 205px;
    word-break: break-word;
    font-size: 14px
}

.content-div {
    flex-grow: 1;
    padding: 5px 0;
}

.title-div {
    background: var(--btn-color);
    padding: 5px 0;
}

.title-div.info {
    background: var(--pop-up-info-title);
}

.title-div.warn {
    background: var(--pop-up-warn-title);
}

.title-div.danger {
    background: var(--pop-up-danger-title);
}

.notification-duration-container {
    display: flex;
    flex-direction: row-reverse;
}

.notification-duration-container.info {
    background: var(--pop-up-info-title);
}


.notification-duration-container.warn {
    background: var(--pop-up-warn-title);
}

.notification-duration-container.danger {
    background: var(--pop-up-danger-title);
}

.notification-duration {
    height: 4px;
    background: var(--text-color);
    width: 100%;
    animation-name: duration-animation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
}

@keyframes duration-animation {
    from { width: 100% }
    to { width: 0 }
}

.notification-duration.start {
    width: 0;
}

.notification-popup.info {
    background: var(--pop-up-info);
}

.notification-popup.warn {
    background: var(--pop-up-warn);
}

.notification-popup.danger {
    background: var(--pop-up-danger);
}
