.component-warping-div {
    width: fit-content;
    height: fit-content;
}

.skew {
    transform: skewX(30deg)
}

.un-skew {
    transform: skewX(-30deg);
}

.box-shadow {
    box-shadow: 0 0 5px 0 var(--shadow-color);
}

.flex-grow {
    flex-grow: 1;
}

.no-select {
    user-select: none;
}