@implements CoffeeShop.Shared.Interfaces.IRefComponent

<footer @ref="Reference" class="footer" xmlns="http://www.w3.org/1999/html">
    <aside class="footer-scan">
        <img class="footer-scan-img" src="https://www.dwds.de/normal/QR-Code.png" alt="QR-Code"/>
        <b class="footer-scan-label">SCAN HERE!</b>
    </aside>
    <p class="footer-contact">
        <b class="none-select">Order: </b>1800.6969 <br/>
    </p>
    <p class="footer-contact">
        <b class="none-select">Address:</b><br/>
        1234, Pham Van Dong Street, <br/>
        Ward 14, Tan Binh District, <br/>
        Ho Chi Minh City, <br/>
        Vietnam <br/>
    </p>
    <hr class="pad pad-screen-media"/>
    <div class="footer-info">
        <img class="footer-info-icon footer-info-icon-left" src="images/cup.png" alt="cup" />
        <p id="row2">
            <sub>
                Hardcore Coffee VN Trading and Service Joint Stock Company Business <br/>
                Registration number: 0312696969 issued by the Ho Chi Minh City Planning and Investment Department on July 23, 2022. Representative: JOHN DOES <br/>
                Address: 86-88 Cao Thang, Ward 04, District 3, Ho Chi Minh City Phone: (028) 7107 8079 Email: bye@hardcorecoffee.vn <br/>
                © 2022-2022 Hardcore Coffee VN Trading and Service Joint Stock Company. All rights reserved. <br/>
            </sub>
        </p>
        <img class="footer-info-icon" src="images/cup.png" alt="cup" />
    </div>
</footer>

@code {
    public ElementReference Reference { get; private set; }
}