.app {
    --btn-color: #70877F;
    --btn-hover-color: #C4A77D;
    --btn-click-color: #EF946C;

    --toggle-btn-color: #97c7b8;
    --toggle-btn-hover-color: #eec385;
    --toggle-btn-click-color: #ffa884;
    
    --danger-btn-color: #EF946C;
    --danger-btn-hover-color: #ce6b59;
    --danger-btn-click-color: #ea5a55;

    --pop-up-info: #70877F;
    --pop-up-warn: #C4A77D;
    --pop-up-danger: #EF946C;
    
    --pop-up-info-title: #97c7b8;
    --pop-up-warn-title: #eec385;
    --pop-up-danger-title: #ea5a55;

    --brand-height: 70px;
    --header-menu-height: 35px;
    --footer-height: 200px;
    --header-footer-color-1: rgba(112, 135, 127, 0.85);
    --header-footer-color-2: rgba(114, 95, 67, 0.85);
    --text-color: #f1ebe1;
    
    --text-color-2: #2b3434;
    
    --dimmed-color: rgba(61, 53, 40, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: "Team401";
    src: url("font/team-401.ttf") format("truetype");
}