@page "/menu"

<div class="menu">
    <div class="menu-categories-container menu-container">
        
    </div>
    <div class="menu-items-container menu-container">
        
    </div>
</div>

@code {
    
}