.menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: calc(100vh - var(--header-menu-height) - var(--brand-height));
    gap: 20px;
}

.menu-categories {
    background: var(--text-color);
    width: 300px;
}

.menu-items {
    background: var(--text-color);
    flex-grow: 1;
}