@page "/shops"

<div class="shops-page">
    <div class="shops-controllers-div">
        <h3>City</h3>
        <DropDownMenu Class="city-menu" CutOffTextLength="15" Items="@_items"/>
        <h3>District</h3>
        <DropDownMenu Class="district-menu" CutOffTextLength="15" Items="@_items"/>
    </div>
</div>

@code {

    private ToggleGroup.Item[] _items = new ToggleGroup.Item[]
    {
        new ToggleGroup.Item()
        {
            Name = "District 7",
        },
        new ToggleGroup.Item()
        {
            Name = "District 8",
        },
        new ToggleGroup.Item()
        {
            Name = "District 9",
        },
        new ToggleGroup.Item()
        {
            Name = "District 10",
        },
        new ToggleGroup.Item()
        {
            Name = "DDistrict 11District 11District 11District 11istrict 11",
        },
    };

}