.shops-page {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-menu-height) - var(--brand-height));
}

.shops-container {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    
    gap: 30px;
}

.shops-container.loading {
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}

.shops-controllers-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background: var(--text-color);
    margin: 40px 20px 0 20px;
    height: fit-content;
    border-radius: 10px;
}

.shops-controllers-div h3 {
    margin: 0;
    
    align-self: center;
    font-family: "RobotoMono Nerd Font", serif;
    font-weight: bold;
}

::deep .shops-controllers-div div.drop-down-menu {
    margin-right: 20px;
}

::deep .shops-controllers-div div.district-menu {
    width: 250px;
}

::deep .shops-controllers-div div.city-menu {
    width: 300px;
}

.load-more-div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}