#news-element {
    background: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px 1px var(--header-footer-color-2);
    position: relative;
    overflow: hidden;
}

#news-text {
    width: 65%;
}

#news-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    --news-height: 250px;
    min-height: var(--news-height);
    transition: all 1s;
}

#news-title {
    color: var(--btn-color);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

#news-content.collapsed {
    text-justify: inter-character;
    text-align: justify;
    margin-bottom: -100vh;
    overflow: hidden;
    margin-left: 20px;
    transition: all 0.75s ease-in-out;
}

#news-content.expanded {
    margin-bottom: 20px;
}

#news-image {
    width: 100%;
    height: calc(100% - 40px);
    object-fit: cover;
    border-radius: 10px;
}

#news-image-container.collapsed {
    display: flex;
    width: 35%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 30px 0 30px;
    transition: all 0.25s;
}

#news-image-container.expanded {
    padding: 0 30px 20px 30px;
}

#news-expand-btn.collapsed {
    --expand-btn-height: 80px;
    height: var(--expand-btn-height);
    width: 100%;
    right: 0;
    background: linear-gradient(0deg, var(--text-color) 40%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px;
    border: 0;
    bottom: 0;
    color: var(--btn-color);
    padding-top: calc(var(--expand-btn-height) - 40px);
    font-family: serif;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    transition-property: height, padding-top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#news-expand-btn.expanded {
    --expand-btn-height: 40px;
}

#news-expand-btn:hover {
    background: linear-gradient(0deg, var(--btn-hover-color) 40%, rgba(0, 0, 0, 0) 100%);
    color: var(--text-color);
}