.custom-btn {
    height: 45px;
    background-color: var(--btn-color, white);
    color: var(--text-color);
    padding: 10px;
    font-weight: bold;
    border: none;
}

.custom-btn:hover {
    background-color: var(--btn-hover-color, black);
}

.custom-btn:active {
    background-color: var(--btn-click-color, red);
}

.custom-btn-toggled {
    height: 45px;
    background-color: var(--toggle-btn-color, white);
    color: var(--text-color);
    padding: 10px;
    font-weight: bold;
    border: none;
}

.custom-btn-toggled:hover {
    background-color: var(--toggle-btn-hover-color, black);
}

.custom-btn-toggled:active {
    background-color: var(--toggle-btn-click-color, red);
}

.custom-toggle-btn {
    border-radius: 5px;
}