
<div class="toggle-group">
    @for (var i = 0; i < Items.Length; i++)
    {
        var index = i;
        var item = Items[index];
        
        <ToggleButton Text="@item.Name"
                      OnClickCallback=@( _ => OnToggle(item, index) )
                      IsToggled="@IsToggled(index)">
        </ToggleButton>
    }
</div>

@code {

    public class Item
    {
        public string Name { get; init; } = string.Empty;
        public Action<string> Toggled { get; init; } = default!;
    }

    [Parameter]
    public Item[] Items { get; set; } = default!;

    private int _selectedIndex = 0;

    private void OnToggle(Item item, int index)
    {
        if (index != _selectedIndex) item.Toggled(item.Name);
        _selectedIndex = index;
    }

    private bool IsToggled(int index)
    {
        return index == _selectedIndex;
    }
}